@import "mixins";

:host {
  @include flex(center, center);

  height: 100%;
  flex: 1;
  margin: 8rem 0;

  .auth {
    @include flex(center, normal);

    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
    height: 100%;
    max-width: 32rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
