@import "mixins";

[lineClamp] {
  $height: 1.25rem;

  line-height: $height;
  max-height: $height;
  position: relative;
  overflow: hidden;
  padding: 0 100px 0 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.expanded {
  @include scroll();

  padding: 0;
  max-height: 100rem;
  transition: max-height .5s cubic-bezier(1, 0, 0, 1);
}

.expand {
  transition: opacity .3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;

  &_hidden {
    opacity: 0;
    visibility: hidden;
  }
}
