.card {
  position: relative;
  border-radius: var(--fa-primary-radius);
  color: var(--fa-text-01);
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--fa-primary-shadow);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.primary-button {
  display: inline-flex;
  box-sizing: border-box;
  background-image: var(--fa-primary-button-gradient);
  box-shadow: var(--fa-secondary-shadow);
  color: var(--fa-text-02);
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.secondary-button {
  display: inline-block;
  text-decoration: none;
  background: var(--fa-primary-background);
  transition: all .4s;
  color: var(--fa-text-01);

  &:hover {
    background: var(--fa-primary-hover);
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.25);
  }
}

.link-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: var(--fa-link);
  text-align: left;
  text-transform: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
  transition: color .3s ease-in-out;

  &:hover {
    color: var(--fa-link-hover);
  }
}

.button-size-xs {
  font-size: .75rem;
  padding: .5rem 1rem;
  text-align:center;
  border-radius: var(--fa-secondary-radius);
  border: none;
  box-shadow: 0 2px 8px 0 rgba(45, 54, 65, 0.5);
}

.button-size-s {
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align:center;
  border-radius: var(--fa-secondary-radius);
  border: none;
}

.button-size-m {
  padding: 1.5rem 3rem;
  font-size: 1.25rem;
  border-radius: var(--fa-secondary-radius);
  text-align:center;
  border: none;
}

.input {
  width: 100%;
  line-height: 2rem;
  padding: .7rem 1.5rem;
  border: 0;
  border-radius: var(--fa-secondary-radius);
  background: rgba(255, 255, 255, 0.1);
  display: block;
  font-size: 1rem;
  outline: none;
  box-shadow: var(--fa-primary-shadow);
}
