@mixin colors() {
  --fa-text-01: #1b1f3b;
  --fa-base-01: #fff;

  --fa-primary-background: #fff;
  --fa-secondary-background: #000;

  --fa-link: #526ed3;
  --fa-link-hover: #6c86e2;

  --fa-primary-hover: #F5F5F5FF;
}
