/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import 'colors';
@import 'variables';
@import 'classes';

:root {
  @include colors();
  @include variables();
}

* {
  margin: 0;
  padding: 0;

  h1, h3 {
    font-family: PlayfairDisplay;
    margin: 0;
  }

  h3 {
    font-weight: 400;
  }
}

body {
  font-family: Roboto;
  height: 100vh;
}

button {
  font-weight: 400;
  cursor: pointer;
}
