/* You can add global styles to this file, and also import other style files */
@import 'fonts';
@import 'light-theme';
@import 'dark-theme';
@import 'variables';
@import 'classes';
@import 'keyframes';

:root {
  @include variables();
  @include keyframes();

  [theme=light-theme] {
    @include light-theme();
  }

  [theme=dark-theme] {
    @include dark-theme();
  }
}

html {
  font-size: 16px;

  @media screen and (max-width: 1440px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1280px) {
    font-size: 10px;
  }

  @media screen and (max-width: 767px) {
    font-size: 8px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h1, h3 {
    font-family: PlayfairDisplay;
    margin: 0;
  }

  h3 {
    font-weight: 400;
  }

  h1, h1, span, p {
    color: var(--fa-text-01);
  }
}

body {
  font-family: Roboto;
  height: 100vh;
  transition: background .2s ease-in-out;
  background: var(--fa-primary-background);
}

router-outlet + * {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

button {
  font-weight: 400;
  cursor: pointer;
}
