@mixin variables() {
  --fa-duration: .3s;
  --fa-primary-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  --fa-secondary-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  --fa-primary-radius: 1.5rem;
  --fa-secondary-radius: 9999px;
}
