@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .background {
    @include flex(center, center);

    position: absolute;
    height: 100%;
    width: 100%;

    .circle {
      width: 25%;
      height: 25%;
      border-radius: var(--fa-primary-radius);
      background: linear-gradient(to bottom, #e001ce 40%, #ff00c1 60%);
      filter: blur(150px);
    }

    .theme-switcher {
      position: absolute;
      bottom: 4rem;
      left: 4rem;
      z-index: 1;
      padding: 1rem;
      border-radius: var(--fa-secondary-radius);
    }
  }
}
