@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .background {
    @include flex(center, center);

    position: absolute;
    height: 100%;
    width: 100%;

    .circle {
      width: 25%;
      height: 25%;
      border-radius: var(--fa-primary-radius);
      background: linear-gradient(to bottom, #f56453 40%, #ff3535 60%);
      filter: blur(12rem);
    }
  }
}
