@import "mixins";

:host {
  @include flex(space-between, center);

  position: fixed;
  top: 0;
  padding: 2rem 4rem;
  width: 100%;
  box-sizing: border-box;
  gap: 1rem;
  z-index: 1;

  section {
    @include flex(space-between, center);

    gap: .5rem;
  }

  span {
    font-family: PlayfairDisplay;
    font-size: 2rem;
  }
}
