@import "mixins";

:host {
  @include flex(space-between, center);

  position: sticky;
  top: 0;
  padding: 2rem 4rem;
  gap: 1rem;

  section {
    @include flex(space-between, center);

    gap: .5rem;
  }

  span {
    font-family: PlayfairDisplay;
    font-size: 2rem;
  }
}
