@import "mixins";

:host {
  @include flex(center, center);

  height: 100%;

  .get-started {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    max-width: 64rem;

    h1 {
      font-size: 6rem;
    }

    span {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 300;
      text-wrap: balance;
    }
  }
}
