<fa-card class="film"
         [style.background-image]="image">
  <fa-card class="film__info">
    <h3>{{ film.name }} ({{ film.year }})</h3>
    <span class="authors">
      @for(director of film.directedBy; track director) {
        {{ film.directedBy }}
      }
    </span>
    <section class="genres">
      @for(genre of film.genres; track genre) {
        <button class="primary-button button-size-xs">{{ genre }}</button>
      }
    </section>
    <span lineClamp>
      {{ film.description }}
    </span>
    <section class="actions">
      <button class="secondary-button button-size-m"
              (click)="updateFilm('unlike')">
        <img src="http://localhost:4200/assets/icons/dislike.png" alt="">
      </button>
      <button class="secondary-button button-size-m"
              (click)="updateFilm('like')">
        <img src="http://localhost:4200/assets/icons/like.png" alt="">
      </button>
    </section>
  </fa-card>
</fa-card>
