@import "mixins";

:host {
  @include flex(center, center);

  .film {
    height: 100%;
    background-image: url("../../../../../assets/icons/image_placeholder.jpeg");
    background-size: cover;
    background-position: center;
    aspect-ratio: 9 / 16;
    transition: all .5s ease-in-out;

    &__info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 100%;
      padding: 1rem 2rem;
      background: var(--fa-primary-background);
      display: flex;
      flex-direction: column;
      gap: .5rem;

      > button, .actions > button {
        padding: 1rem;
        border-radius: var(--fa-secondary-radius);
      };

      .genres {
        display: flex;
        gap: .5rem;

        > button {
          cursor: inherit;
        }
      }

      .actions {
        @include flex(space-evenly, center);

        img {
          width: 4rem;
        }
      }

      .authors {
        font-weight: 300;
      }

      h3 {
        font-size: 3rem;
      }

      span {
        font-size: 1rem;
      }
    }
  }
}
