<fa-card class="film">
  <fa-card class="film__info">
    <h3>Avengers (2019)</h3>
    <button class="toggler primary-button button-size-m">&darr;</button>
    <span class="authors">Anthony Russo, Joe Russo</span>
    <section class="genres">
      <button class="primary-button button-size-xs">Action</button>
      <button class="primary-button button-size-xs">Adventure</button>
      <button class="primary-button button-size-xs">Sci-Fi</button>
    </section>
    <span class="description">The Avengers assemble for one final showdown against the formidable Thanos as they attempt to undo the devastating consequences of his snap, which wiped out half of all life in the universe. The film explores themes of sacrifice, teamwork, and the ultimate battle between good and evil.</span>
    <section class="actions">
      <button class="secondary-button button-size-m">
        <img src="http://localhost:4200/assets/icons/like.png" alt="">
      </button>
      <button class="secondary-button button-size-m">
        <img src="http://localhost:4200/assets/icons/dislike.png" alt="">
      </button>
    </section>
  </fa-card>
</fa-card>
